<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HelpdeskSystem</title>
        {% load staticfiles %}
    {% load widget_tweaks %}
    <link rel="stylesheet" type="text/css" href="{% static 'helpdesk/style.css' %}" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="{% static 'helpdesk/jsFunctions.js' %}"></script>

</head>
<body>

    <div class="container main-container">
        <div class="row main-menu">
            {% include "helpdesk/navigation.html" %}
        </div>
        <div class="row main-content">
            {% block helpdesk_body %}{% endblock %}
        </div>

        <div class="row footer">
        </div>
    </div>
</body>
</html>