<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HelpdeskSystem</title>
    {% load staticfiles %}
    {% load widget_tweaks %}
    <link rel="stylesheet" type="text/css" href="{% static 'helpdesk/style.css' %}" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
    <script type='text/javascript' language='javascript'>
        $(function() {

    $('.login-form-link').click(function(e) {
        $(".error-login").empty();
		$(".login-form").delay(100).fadeIn(100);
 		$(".register-form").fadeOut(100);
		$('.register-form-link').removeClass('active');
		$(this).addClass('active');
		e.preventDefault();
	});
	$('.register-form-link').click(function(e) {
	    $(".error-login").empty();
		$(".register-form").delay(100).fadeIn(100);
 		$(".login-form").fadeOut(100);
		$('.login-form-link').removeClass('active');
		$(this).addClass('active');
		e.preventDefault();
	});

	$('.login-form').submit(function(e){
        e.preventDefault();
        var data = $(this).serialize();
        data+='&login';
        $.ajax({
            type: "POST",
            url: "",
            data: data,
            cache: false,
            success: function(data){
                if (data=="approved_user") {
                    window.location.href = "index";
                    return;
                }
                 if (data=="approved_staff") {
                    window.location.href = "tickets";
                    return;
                }
                $('#error-login').html(data);
            }
       });
    });
	$('.register-form').submit(function(e){
	    if ($('#reg_password').val() != $('#confirm_reg_password').val()) {
            $('.error-login').html('Пароли не совпадают.');
            return false;
        }
        e.preventDefault();
        var data = $(this).serialize();
        data+='&register';
        $.ajax({
            type: "POST",
            url: "",
            data: data,
            cache: false,
            success: function(data){
                $('.error-login').html(data);
            }
       });
    });

	//doesn't work
	$("#username_id").change(function () {
      var form = $(this).find(".register-form");
      $.ajax({
        url: "validate_username/",
        data: form.serialize(),
        dataType: 'json',
        success: function (data) {
          if (data.is_taken) {
            alert(data.error_message);
          }
        }
      });
    });
});
        $('#loginForm').attr('autocomplete', 'off');
        $('#remember').change(function() {
    if (this.checked) {
        $('#loginForm').attr('autocomplete', 'on');
    } else {
        $('#loginForm').attr('autocomplete', 'off');
    }
});
    </script>

</head>
<body class="login-body">

<div class="container">
    	<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="panel panel-login">
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-6">
								<a href="#" class="active login-form-link">Вход</a>
							</div>
							<div class="col-xs-6">
								<a href="#" class="register-form-link">Регистрация</a>
							</div>
						</div>
						<hr>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-12">
								<form class="login-form"  method="POST" role="form" style="display: block;">{% csrf_token %}
									<div class="form-group">
                                        {{ form.username|attr:"class:form-control"|attr:"placeholder:Имя пользователя" }}
									</div>
									<div class="form-group">
                                        {{ form.password|attr:"class:form-control"|attr:"placeholder:Пароль" }}
									</div>
									<div class="form-group text-center">
										<input type="checkbox" tabindex="3" class="" name="remember" id="remember">
										<label for="remember"> Запомнить</label>
									</div>
									<div class="form-group">
										<div class="row">
											<div class="col-sm-6 col-sm-offset-3">
												<input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="Войти">
											</div>
										</div>
									</div>
								</form>
								<form class="register-form"  method="POST" role="form" style="display: none;">{% csrf_token %}
									<div class="form-group">
                                        {{ form.username_reg|attr:"class:form-control"|attr:"placeholder:Имя пользователя"|attr:"id:username_id" }}
									</div>
									<div class="form-group">
                                        {{ form.password_reg|attr:"class:form-control"|attr:"placeholder:Пароль"|attr:"id:reg_password" |attr:"autocomplete=off"}}
									</div>
									<div class="form-group">
                                        {{ form.password_again|attr:"class:form-control"|attr:"placeholder:Повторите пароль"|attr:"id:confirm_reg_password"|attr:"autocomplete=off" }}
									</div>
                                                                        									<div class="form-group">
                                        {{ form.email|attr:"class:form-control"|attr:"placeholder:Email Address"|attr:"id:email_id" }}
									</div>
                                    <div class="form-group">
{#										<input type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="Username" value="">#}
                                        {{ form.role|attr:"class:form-control"|attr:"placeholder:Должность"|attr:"id:role_idte" }}
									</div>
									<div class="form-group">
										<div class="row">
											<div class="col-sm-6 col-sm-offset-3">
												<input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-register" value="Зарегистрироваться">
											</div>
										</div>
									</div>
								</form>
                                                                            <p class="error-login" class="test"></p>
                                            {% csrf_token %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>