{% extends "helpdesk/base.html" %}
{% block helpdesk_body %}
    <h2>Удаление заявки "{{ ticket.title }}"</h2>
    <form class="remove-choice-form" method="POST" role="form" style="display: block;">{% csrf_token %}
        <div class="radio">
            <label><input type="radio" value="no" name="optradio" checked>Проблема решилась сама</label>
        </div>
        <div class="radio">
            <label><input type="radio" value="yes" name="optradio">Мне не помогли</label>
        </div>
        <input type="submit" name="del" id="register-submit" class="form-control btn btn-danger" value="Удалить заявку">
        <input type="text" name="notdel" onclick="history.back(-1)" id="register-submit" tabindex="4"
           class="form-control btn btn-primary" value="Назад">
    </form>
{% endblock %}