{% extends "helpdesk/base.html" %}
{% block helpdesk_body %}
{#<h1>{{ ticket.title }}</h1>#}
    <label class="control-label  " for="id_title">Название</label>
    <input class=" form-control" id="id_title" maxlength="100" name="title" type="text" required="" value="{{ ticket.title }}" readonly>
    <label class="control-label  " for="id_title">Cообщение</label>
    <textarea class=" form-control" cols="40" id="ticket-message" name="message" rows="10" required="" readonly>"{{  ticket.message}}"</textarea>
    <p>Создатель: <strong>{{ ticket.user }}</strong>, {{ ticket.created }}</p>
    <hr>
    {% ifequal ticket.ticketState 3 %}
    <div class="ticket-answer">
    <p>Ответил <strong>{{ ticket.staff }}</strong>, {{ ticket.resolved }}</p>
<textarea class=" form-control" cols="40" id="resolution" name="message" rows="10" required="" readonly>{{  ticket.resolution}}</textarea>
    </div>
        <form id="user-btns" method="POST" role="form" style="">{% csrf_token %}
        <input id="btn-accept" type="submit" name="accept"   class="form-control btn btn-success" value="Мне помогло">
        <input id="btn-reject" type="submit" name="reject"   class="form-control btn btn-warning" value="Не помогло">
        </form>
    {% endifequal %}
{% endblock %}