{% extends "helpdesk/base.html" %}
{% block helpdesk_body %}

    <div class="tabbed">
<h1>Заявки</h1>
<hr>
    <input type="radio" name="tabs" id="tab-nav-1" checked>
    <label for="tab-nav-1">Все заявки</label>
    <input type="radio" name="tabs" id="tab-nav-2">
    <label for="tab-nav-2">Новые</label>
    <input type="radio" name="tabs" id="tab-nav-3">
    <label for="tab-nav-3">Решённые мною</label>
    <input type="radio" name="tabs" id="tab-nav-4">
    <label for="tab-nav-4">Ответ не помог</label>

    <div class="tabs">
      <div><ul>
    {% for category in categories %}
        <h2><a href="{{ category.id }}">{{ category.name }}</a></h2>
<ul>
    {% for ticket in category.tickets %}
        <li>
            <h3><a href="{{ ticket.id }}">{{ ticket.title }}</a></h3>
        </li>
{#        <div class="excerpt">#}
{#           {{ticket.message}}#}
{#        </div>#}
    {% endfor %}
    </ul>
    {% endfor %}
    </ul></div>
      <div>
<ul>
    {% for ticket in latest_ticket_list %}
        <li>
            <h3><a href="{{ ticket.id }}">{{ ticket.category }}: {{ ticket.title }}</a></h3>
        </li>
{#        <div class="excerpt">#}
{#           {{ticket.message}}#}
{#        </div>#}
    {% endfor %}
    </ul></div>
          <div><ul>
<ul>
    {% for ticket in my_ticket %}
        <li>
            <h3><a href="{{ ticket.id }}">{{ ticket.title }}</a></h3>
        </li>
{#        <div class="excerpt">#}
{#           {{ticket.message}}#}
{#        </div>#}
    {% endfor %}
    </ul>
    </ul></div>
              <div><ul>
<ul>
    {% for ticket in reopened_tickets %}
        <li>
            <h3><a href="{{ ticket.id }}">{{ ticket.title }}</a></h3>
        </li>
{#        <div class="excerpt">#}
{#           {{ticket.message}}#}
{#        </div>#}
    {% endfor %}
    </ul>
    </ul></div>
    </div>
  </div>
{% endblock %}