{% extends "helpdesk/base.html" %}
{% block helpdesk_body %}
<div class="tabbed">
<div class="user-message">
    <p>{{ user_message }}</p>
</div>
<h1>Ваши заявки</h1>
<hr>
    <input type="radio" name="tabs" id="tab-nav-1" checked>
    <label for="tab-nav-1">На рассмотрении</label>
    <input type="radio" name="tabs" id="tab-nav-2">
    <label for="tab-nav-2">Решённые</label>

    <div class="tabs">
      <div><ul class="list-group">
    {% for ticket in user_tickets %}
        <li class="list-group-item">
        <div class="user-ticket-link">
            <h3><a href="{{ ticket.id }}">{{ ticket.title }}</a></h3>
        </div>
            <div class="ticket-btn-left">
                <a href="remove/{{ ticket.id }}">
            <input type="text"    class="form-control btn btn-success" value="Отозвать">
                </a>
            </div>
        </li>
{#        <div class="excerpt">#}
{#           {{ticket.message}}#}
{#        </div>#}
    {% endfor %}
    </ul></div>

      <div><ul class="list-group">
    {% for ticket in resolved_tickets %}
        <li class="list-group-item">
            <h3><a href="{{ ticket.id }}">{{ ticket.title }}</a></h3>
        </li>
{#        <div class="excerpt">#}
{#           {{ticket.message}}#}
{#        </div>#}
    {% endfor %}
    </ul></div>
    </div>
  </div>

{% endblock %}