{% extends "helpdesk/base.html" %}
{% block helpdesk_body %}
<div class="ticket-tabbed">
<div class="user-message">
    <p>{{ user_message }}</p>
</div>
<h1>Ваши заявки</h1>
<hr>
    <input type="radio" name="tabs" id="tab-nav-1" checked>
    <label for="tab-nav-1">На рассмотрении</label>
    <input type="radio" name="tabs" id="tab-nav-2">
    <label for="tab-nav-2">Решённые</label>

    <div class="ticket-tabs user-tickets-container">
      <div>
    {% for ticket in user_tickets %}
        <div class="clearfix user-ticket-notres">
            <a class="user-ticket-link" href="{{ ticket.id }}">{{ ticket.title }}</a>
            <div class="ticket-btn-left">
                <a href="remove/{{ ticket.id }}">
            <input type="text"    class="form-control btn btn-primary" value="Отозвать">
                </a>
            </div>

        </div>
{#        <div class="excerpt">#}
{#           {{ticket.message}}#}
{#        </div>#}
    {% endfor %}
    </div>
    {% if have_resolved_tickets %}
      <div class="user-resolved-ticket">
      <h2>Решённые заявки</h2>
          <ul class="list-group">

    {% for ticket in resolved_tickets %}
        <li class="resolvet-tickets list-group-item">
            <h3><a href="{{ ticket.id }}">{{ ticket.title }}</a></h3>
        </li>
{#        <div class="excerpt">#}
{#           {{ticket.message}}#}
{#        </div>#}
    {% endfor %}
    </ul></div>{% endif %}
    </div>
  </div>
{% if no_tickets %}
<div class="no_ticket">У вас нет заявок, вы можете <a href="{% url 'helpdesk:create' %}">Создать заявку</a></div>
{% endif %}
{% endblock %}