
li a {
    color: #428bca;
}
h3{
    font-size: 15px;
    line-height: 1.4;
    margin-bottom: .5em;
}
.excerpt{
    padding: 0;
    padding-bottom: 5px;
    margin: 0;
    color: #3b4045;
}
body {
    padding-top: 90px;
	background-color: #E7F1F5 !important;
}


/*main-grid*/
.main-content{
	margin:0 20%;
}



/*login html*/
.login-body{
	background-color:white !important;
}
.panel-login {
	background-color: #428bca;
	border-color: #ccc;
	-webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
}
.panel-login>.panel-heading {
	color: #00415d;
	background-color: #fff;
	border-color: #fff;
	text-align:center;
}
.panel-login>.panel-heading a{
	text-decoration: none;
	color: #666;
	font-weight: bold;
	font-size: 15px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login>.panel-heading a.active{
	color: #029f5b;
	font-size: 18px;
}
.panel-login>.panel-heading hr{
	margin-top: 10px;
	margin-bottom: 0px;
	clear: both;
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
	background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}
.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
	height: 45px;
	border: 1px solid #ddd;
	font-size: 16px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login input:hover,
.panel-login input:focus {
	outline:none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-color: #ccc;
}
.btn-login {
	background-color: #59B2E0;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #59B2E6;
}
.btn-login:hover,
.btn-login:focus {
	color: #fff;
	background-color: #53A3CD;
	border-color: #53A3CD;
}
.forgot-password {
	text-decoration: underline;
	color: #888;
}
.forgot-password:hover,
.forgot-password:focus {
	text-decoration: underline;
	color: #666;
}

.btn-register {
	background-color: #1CB94E;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #1CB94A;
}
.btn-register:hover,
.btn-register:focus {
	color: #fff;
	background-color: #1CA347;
	border-color: #1CA347;
}


/*user homepage tabs*/
.user-resolved-ticket{
	padding-top: 40px;
}
.resolvet-tickets{
	text-align: center;
}
.no_ticket{
	font-size: 10vw;
	margin-left:30px;
}

::selection {
  background-color: #4EC6DE;
}

.ticket-tabbed {
  width: 700px;
	margin-left:30px;
}

.ticket-tabbed > input {
  display: none;
}

.ticket-tabbed > label {
  display: block;
  float: left;
  padding: 12px 20px;
  margin-right: 5px;
  cursor: pointer;
  transition: background-color .3s;
}

.ticket-tabbed > label:hover,
.ticket-tabbed > input:checked + label {
  background: #4EC6DE;
}

.ticket-tabs {
  clear: both;
  perspective: 600px;
}

.ticket-tabs > div {
  width: 700px;
  position: absolute;
  /*border: 2px solid #4EC6DE;*/
  padding: 10px 0px 40px;
  line-height: 1.4em;
  opacity: 0;


  z-index: 0;
}

#tab-nav-1:checked ~ .ticket-tabs > div:nth-of-type(1),
#tab-nav-2:checked ~ .ticket-tabs > div:nth-of-type(2),
#tab-nav-3:checked ~ .ticket-tabs > div:nth-of-type(3),
#tab-nav-4:checked ~ .ticket-tabs > div:nth-of-type(4){
  transform: rotateX(0);
  opacity: 1;
  z-index: 1;
}

@media screen and (max-width: 700px) {
  .ticket-tabbed { width: 400px }
  .ticket-tabbed > label { display: none }
  .ticket-tabs > div {
    width: 400px;
    border: none;
    padding: 0;
    opacity: 1;
    position: relative;
    transform: none;
    margin-bottom: 60px;
  }
  .ticket-tabs > div h2 {
    border-bottom: 2px solid #4EC6DE;
    padding-bottom: .5em;
  }
}


/*Create ticket*/


#back-to-category{
	padding-top:20px;
	font-size:2.8em;
	text-decoration: none;
}

.carousel-inner{
	padding-bottom:300px;
}


/*User ticket*/

#resolution[readonly]{
	cursor:text;
	background-color: #97ca9b;
}
#id_title[readonly]{
	cursor:text;
	margin-bottom: 20px;
}
#ticket-message[readonly]{
	cursor:text;
	margin-bottom: 20px;
}
.ticket-answer{
	margin-top:50px;
}
#user-btns{
	margin-top:20px;
}
.ticket-btn-left{
	display: inline-flex;
	vertical-align: middle;
	/*margin-top:10px;*/
float:right;
}
.user-ticket-link{
	font-size:25px;
	text-align: left;
	vertical-align: text-bottom;
	line-height: 0.8px;
}
.user-ticket-notres{
	background-color:white;
	border: 1px solid rgba(78, 110, 128, 0.94);
	padding:10px;
	vertical-align: text-bottom;
}
.user-ticket{
	text-align: left;
}
.clearfix { display: block; }
.clearfix:after { content: ""; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; margin: 0; padding: 0; }
/*.user-ticket-link{*/
	/*display: inline-flex;*/
	/*flex-wrap: nowrap;*/
/*}*/
.custom-btn-group{
	display: inline-flex;
	align-items: center;
}
.custom-btn{
	margin:5px;
}


#btn-accept{
	float:left;
}
#btn-accept{
	float:right;
}




/*User profile*/


.profile-container{
min-height:600px;
}
.profile-head{
	min-height:300px;
	height:35%;
	color:white;
	background-color: #4e6e80;
	font-size:2em;
}
.profile-body{
	padding-top:20px;
}
.profile-additional{
	text-align:center;


}
.profile-img img{
	 display: block;
      margin: 0 auto;
}
.profile-fullname-wrap{
	text-align:center;
	padding:20px;
}
.profile-image{
	padding-top:20px;
	width:150px;
}
.profile-role-wrap{
	text-align:center;
}
.material-switch > input[type="checkbox"] {
    display: none;
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative;
    width: 40px;
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}
.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}
.edit-user{
	text-align: center;
	font: 15px/24px "Lato", Arial, sans-serif;
    color: #333;
    box-sizing: border-box;
    letter-spacing: 1px;
	border-radius: 7px;
	box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.05);
    border: solid 1px #4e6e80;
    outline: none;
    border-right-color: #EEE;
    border-bottom-color: #EEE;
}
.profile-settings{
	margin-left:100px;
	margin-top:8px;
	max-width:400px;
}
.profile-settings-container{
margin:auto;
}
.profile-hidden{
	display: none; !important;
}
#edit-user-form{
	margin-top:30px;
	border:none;
	box-shadow:none;
}
.edit-button{
	text-decoration: none;
	color: #302f50
}
.edit-button:hover{
	text-decoration: none;
	color: #280080
}
.profile-body-input{
	float:right;
}
.user-data-row{
	border-bottom: 1px solid rgba(78, 110, 128, 0.94);
	padding:10px;
}
.profile-header-input{
	color:black;
}
/*Remove-choice-form*/

.remove-choice-form{
	margin:40px;
}


/*Staff tickets view*/
.staff-all-tickets p{
	font-size: 2em;
	font-weight: bold;
}

